/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
div {
    display: flex;
}
/*Exercise 2.1*/
.one {
    justify-content: end;
    flex-flow: column wrap;
}
/*Exercise 2.2*/
.two {
    justify-content: space-between;
}
/*Exercise 2.3*/
.three {
    display: flex;
    /*justify-content: space-between;*/
}
.three ul {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
    flex: 1;
    list-style: none;
}
.three li {
    /*align-items:start;*/
    /*justify-content: space-evenly;*/
}
.three div {
    flex: 3;
    justify-content: end;
    /*align-items: center;*/
}
/*Exercise 2.4*/
#four {
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
label{
    align-self: center;
    align-items: center;
}
.five{
    flex-wrap: wrap;
}
article{
    flex: 1 1 40%;
}

@media (min-width: 1200px) {
    article{
        flex:1 1 30%;
    }
}
